body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #000000;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
  margin-left: 250px; /* Adjust this to match the width of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header {
  color: black;
  text-align: center;
  padding: 1.5em 0;
  border-radius: 8px;
  margin-bottom: 20px;
  background: linear-gradient(270deg, #50026f, #0c0000);
  width: 100%;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 2.5em;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.welcome h2 {
  margin: 0 0 1em 0;
  font-size: 2em;
  color: #ffcc00;
}

.motivational-quote {
  background-color: #2a1e1e;
  border-radius: 8px;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.motivational-quote p {
  font-size: 1.2em;
  color: #e0e0e0;
  margin: 0;
}

.functionalities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.functionality {
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: left;
  box-sizing: border-box;
}

.functionality h3 {
  margin-top: 0;
  color: #ffcc00;
}

.functionality p {
  margin: 10px 0 0 0;
  color: #e0e0e0;
}

/* Form Styles */
form {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

form .MuiPaper-root {
  padding: 20px;
  border-radius: 8px;
}

form .MuiTextField-root {
  margin-bottom: 20px;
}

form .MuiButton-root {
  display: block;
  margin-left: auto;
}

form .MuiAlert-root {
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-content {
      margin-left: 0;
      padding: 10px;
  }

  .functionalities {
      grid-template-columns: 1fr;
      gap: 10px;
  }

  .motivational-quote {
      padding: 15px 20px;
  }

  .functionality {
      padding: 15px;
  }
}
