body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}

.sidebar {
    background-color: #e0e0e0;
}

.main-content {
    color: #e0e0e0;
    background-color: #e0e0e0;
}
